body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
    background: rgb(65, 61, 61);
    font-weight: 300;
}
#loginbox{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px (rgba(0,0,0,0.6,));
}
.left-box{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
input[type ="text"],
input[type ="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2 ease;

}
input[ type ="submit"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: rgb(247, 84, 63);
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;
    cursor: pointer;
}
input[ type ="submit"]:hover
input[ type ="submit"]:focus{
    background: rgb(247, 84, 63);
    transition: 0.2s ease;
}
.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}
.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: rgb(255, 254, 254);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6,);
    line-height: 40px;
    text-align: center;
}
.right-box .signinwith{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6,);
}
button{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    /* color: rgb(160, 39, 39); */
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}
.Facebook{
    color: #32508e;
}
.Google{
    color: #ef5b2a;
}
.linkedin{
    color: #2450ca;
}